body{
    background-color: white;
}
header{
    background-color: white;
    height: 56px;
}
header .nav-container {
    display: flex;
    justify-content: end;
    align-items: end;
    height: 100%;
    gap: 10px;
    max-width: 100%;
    

}

header .sign-in .signin{
    border-radius: 3px;
    color: #fff !important;
    background: #0179c8 !important;
    position: relative;
    width: 80px;
    height: 40px;
    font-size: medium;
    border: none;
}
h1{
    margin-left: 35%;
}
h4{
    margin-left: 25%;
}

.navbar{
    width: 100%;
    height: 50px;
    background-color: #0179c8;
    display: flex;
    justify-content: space-around;

}
.navbar img{
    padding-top: 15px;
    padding-left: 20px;
}
.navtext{
    margin-left: 8px;
    align-items: center;
    font-family: 'Montserrat',sans-serif !important;
    font-size: 16px;
    color: #fff;
    display: flex;
}

.v {
border-left: 1px solid white;
  height: 30px;
  margin-top: 8px;
  display: flex;
  }
  
  .container{
    display: flex;
    justify-content: space-around;
    align-items:flex-start;
  }
  .leftcontent{
    margin-top: 5px;
    padding-top: 20px;
    width: 20%;
    height: 1000px;
    background-color: white;
    border-width: 0 1px 0 0;
    border-color: #c0c0c0;
    border-style: solid;
}


  .leftcontent-data{
    font-size: 14px;
    font-weight: 20px;
    font-family: 'Montserrat',sans-serif;
   
  }
  
  .middlecontent{
    width: 800px;
    height: 960px;
    padding-left: 35px;
    padding-top: 80px;
    border-width: 0 1px 0 0;
    border-color: #c0c0c0;
    border-style: solid;
    }
    
  .middlecontent-text{
    display: flex;
    font-family: 'Montserrat',sans-serif;
    justify-content: first baseline;   
    padding-top: 20px;
    margin-right: 55px;
    gap: 25px;
  
    
  }
   
  .rightcontent{
    margin-top: 10px;
    padding-top: 0%;
    margin-left: 30px;
  }
  .rightcontent-text{
    padding-left: 5px;
    font-size: 15px;
  }
  ol{
    font-size: medium;
    color: black;
    align-items: center;
    font-size: 15px;
    font-family: 'Montserrat',sans-serif;
  }
  
  .heading{
    font-family: 'Montserrat',sans-serif !important;
    font-size: 20px;
    font-weight: bold;
    margin-left: 175px;
  }
  .section3{
    display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  }
.section3-data{
  display: flex;
  justify-content: center;
  font-family: 'Montserrat',sans-serif;
  font-size: 15px;
  align-items: center;
  gap:20px
}
footer{
  background-color: #222;
  height: 416px;
  margin-left: 140px;
  margin-top: 30px;
  width: 1200px;
  
  
}
.footer1{
width: 1200px;
height: 316px;
display: flex;
justify-content:space-evenly;

}
.footer-item11 
{
font-size: medium;
color:white;
margin:0;
padding-top: 50px;
align-items: flex-start;
display: flex;
justify-content: space-between;
}





  

